:root{
    --primary-color: #1c5082;
}
::selection{
    background-color: var(--primary-color);
    color:#fff;
}
html {
box-sizing: border-box;
font-size: 62.5%;
}
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
font-weight: 500;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
}
img {
display: block;
max-width: 100%;
}